<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cs" connectionString="server=DESKTOP-2I1FI6C,1433;database=PPPK_Projekt;uid=sa;pwd=SQL;" />
  </connectionStrings>
</configuration>